.controls-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    min-width: 50px;
}
.btn:hover{
    color:darkblue;
}
.mb-10 {
    margin-bottom: 10px;
}
